*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width:100%;
    height:500px;
    border: 3px solid green;
    display: flex;/*display flex is used to make the container a flex container and its children become flex items. The display property as flex make block level element behave like inline level element and allows us to use flexbox properties to control the layout of the flex items within the container.*/

   /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;*/
        flex-direction: row;/*flex direction is used to specify the direction of the flex items in the container. The default value is row, which means the flex items will be arranged in a horizontal line. Other values include column (arranges items in a vertical line), row-reverse (arranges items in a horizontal line but in reverse order), and column-reverse (arranges items in a vertical line but in reverse order).*/
    /*justify-content: center;/*align horizontally*/
    /*justify-content:space-evenly;/*space equally b/w items*/
   
   justify-content: space-around;/*space equally around items*/
   align-items: stretch;/*align vertically*/
   flex-wrap: wrap;/*everthing wrap according to parent container. doesnot move outside the parent container*/
   align-content: center;/* it aligns the wrap content not individuals.*/
   gap: 50px;/*gap is used to specify the space between flex items. It can be used to create consistent spacing between items without the need for margins. The gap property can take values in length units (e.g., px, em) or percentage, and it applies both horizontally and vertically between flex items.*/
}

.container div{
    height:70px;
    width:90px;
    border: 3px solid red;
    padding:10px;
    background-color: aqua;
}

.container .div1{
    flex-grow: 2;
    flex-shrink: 4;
    
}
.container .div3{
    flex-grow: 1;
}
.container .div2{
    flex-basis:300px;/*it is property that specifies the initial size of a flex item before any available space is distributed according to the flex-grow and flex-shrink properties. It can take values in length units (e.g., px, em) or percentage, and it sets the base size of the flex item before any adjustments are made based on the available space in the container.*/
    flex-grow: 2;
}

.container .div1_num{
    order: 3;/* To order the individual items  whenever we have multiple items*/

}

.container .div2_num{
    order: 2;
}

.container .div3_num{
    order: 4;
}

.container .div4_num{
    order: 1;
}